DB_USER = user
DB_PASSWORD = password
DB_HOST = db
DB_NAME = rbl
RBL_DOMAIN = FQDN.com
NS_PUBLIC_IP_ADDRESS = x.x.x.x
EXT_BLACKLIST_CRONJOB = 0 0 * * *
BIND_REFRESH_BLACKLIST_CRONJOB = 0 * * * *
STAMPARM_URL_EXT_IP_ADDRESSES_BLACKLIST = https://raw.githubusercontent.com/stamparm/ipsum/master/ipsum.txt
URL_EXT_DOMAINS_BLACKLIST = 